// COLORS
$color-primary: #2FAc66;
$color-primary-light: #ADE599;

$color-secondary: #26547c;

$color-tertiary: #f4b942;




$color-white: #fff;
$color-off-white: #F8F8F8;

$color-black: #000;

$color-grey-medium: #707070;
$color-grey-dark: #262626;


// FONT
$default-font-size: 1.6rem;