.footer {
  width: 100vw;
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 4rem;
  color: $color-white;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__container {
    width: 33.33333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond(tab-port) {
      padding: 2rem;
      width: 90%;
    }

    &:nth-last-of-type(2) {
      border-left: 1px solid $color-white;
      border-right: 1px solid $color-white;

      @include respond(tab-port) {
        border-left: none;
        border-right: none;
        border-top: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
      }
    }
  }

  &__header {
    font-size: 2rem;
  }

  &__logo {
    width: 20%;
    padding: 1rem 0;

    &-text {
      font-size: 1.6rem;
      color: $color-white;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-item,
    a,
    :active,
    :visited {
      text-align: center;
      text-decoration: none;
      color: $color-white;
      padding: 1rem 0;
      font-size: 1.6rem;
      transition: .2s;

      &:hover {
        color: $color-primary;
        transform: scale(1.1);
      }

      i {
        margin-right: 1rem;
      }
    }
  }
}