<footer class="footer" id="footer">
  <div class="footer__container">
    <h3 class="footer__header">Get in Contact!</h3>
    <ul class="footer__list">
      <li class="footer__list-item"><i class="far fa-envelope"></i>holly@goodfieldwalkies.co.uk</li>
      <li class="footer__list-item"><i class="fas fa-phone"></i>0771080159</li>
    </ul>
  </div>
  <div class="footer__container">
    <img class="footer__logo" src="img/squarelogo.png" alt="square logo">
    <p class="footer__logo-text">Goodfield Walkies</p>
    <ul class="footer__list">
      <li class="footer__list-item nav__socials"><i class="fab fa-instagram fa-2x"></i><i
          class="fab fa-facebook fa-2x"></i></li>
    </ul>
  </div>
  <div class="footer__container">
    <h3 class="footer__header">Quick Links</h3>
    <ul class="footer__list">
      <li class="footer__list-item">Home</li>
      <li class="footer__list-item">About</li>
      <li class="footer__list-item">Services</li>
      <li class="footer__list-item">Contact</li>
    </ul>
  </div>
</footer>

<script src="https://kit.fontawesome.com/40ffac7a6e.js" crossorigin="anonymous"></script>
<script src="scripts/nav-toggle.js"></script>


</body>

</html>