<footer class="footer" id="footer"></footer>

<script src="https://kit.fontawesome.com/40ffac7a6e.js" crossorigin="anonymous"></script>
<script src="scripts/nav-toggle.js"></script>


</body>

</html>