<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/40ffac7a6e.js" crossorigin="anonymous"></script>
<script src="scripts/nav-toggle.js"></script>


</body>

</html>