<footer class="footer" id="footer">
  <div class="footer__container"></div>
  <div class="footer__container"></div>
  <div class="footer__container">
    <ul class="footer__list">
      <li class="footer__list-item">Home</li>
      <li class="footer__list-item">About</li>
      <li class="footer__list-item">Services</li>
      <li class="footer__list-item">Contact</li>
      <li class="footer__list-item nav__socials"><i class="fab fa-instagram fa-2x"></i><i
          class="fab fa-facebook fa-2x"></i></li>
    </ul>
  </div>
</footer>

<script src="https://kit.fontawesome.com/40ffac7a6e.js" crossorigin="anonymous"></script>
<script src="scripts/nav-toggle.js"></script>


</body>

</html>