<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#2fac66" />

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" type="image/png" href="img/fav.png" />
  <meta property="og:image" content="/img/1x/preview.png" />

  <title>Goodfield-Walkies</title>
  <meta name="description" content="Template Description!" />
</head>

<body>

  <div class="load-screen"></div>

  <div class="nav__bar">
    <div class="nav__bar-toggle" id="toggle">
      <hr>
      <hr>
      <hr>
    </div>
  </div>

  <nav class="nav">
    <img class="nav__logo" src="img/main-logo@2x.png" alt="" />
    <ul class="nav__list" id="nav">
      <li class="nav__list-item"><a href="#about">About</a></li>
      <li class="nav__list-item"><a href="#services">Services</a></li>
      <li class="nav__list-item"><a href="#reviews">Reviews</a></li>
      <li class="nav__list-item"><a href="#footer">Contact</a></li>
      <li class="nav__list-item nav__socials">
        <a href="https://www.instagram.com/goodfield_walkies/" target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/Goodfield-walkies-100821368557643" target="_blank">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
      </li>
    </ul>
  </nav>