<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#8BC377" />

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" type="image/png" href="img/fav.png" />
  <meta property="og:image" content="/img/1x/preview.png" />

  <title>Template Site!</title>
  <meta name="description" content="Template Description!" />
</head>

<body>
  <nav class="nav">
    <img class="nav__logo" src="img/main-logo@2x.png" alt="" />
    <ul class="nav__list">
      <li class="nav__list-item">Home</li>
      <li class="nav__list-item">About</li>
      <li class="nav__list-item">Services</li>
      <li class="nav__list-item">Contact</li>
      <li class="nav__list-item nav__socials"><i class="fab fa-instagram fa-2x"></i><i
          class="fab fa-facebook fa-2x"></i></li>
    </ul>
  </nav>