<section class="section-about">
  <h2 class="section-about__heading heading--secondary">
    <i class="fas fa-paw"></i>About Goodfield Walkies<i class="fas fa-paw"></i>
  </h2>

  <ul class="section-about__list">
    <li class="section-about__list-item">
      <i class="far fa-check-circle"></i>Qualified
    </li>
    <li class="section-about__list-item">
      <i class="far fa-check-circle"></i>Experienced
    </li>
    <li class="section-about__list-item">
      <i class="far fa-check-circle"></i>Reliable
    </li>
  </ul>

  <div class="section-about__composition composition">
    <div class="composition__content content--left">
      <img src="img/arrow.png" alt="arrow" class="arrow arrow--1" />
      <h3 class="composition__heading vis-wider-tablet">About us</h3>
      <p class="composition__text vis-wider-tablet">
        Goodfield Walkies offer reliable and fun dog walking services. We pick
        up your dogs up from your home and drop them back safely. We love
        exploring and finding new places so each dog walk is filled with
        adventures. We walk a maximum of 4 dogs at one time, so be assured your
        pet will get a good balance between attention and socialisation!
      </p>
    </div>
    <div class="composition__image">
      <img src="img/hollycutout.png" alt="Image of Holly Smiling and a Dog" />
    </div>
    <div class="composition__content content--right">
      <img src="img/arrow.png" alt="arrow" class="arrow arrow--2" />
      <h3 class="composition__heading vis-wider-tablet">About Holly</h3>
      <p class="composition__text vis-wider-tablet">
        Holly has always had a love for dogs and the outdoors. She has been a
        skydiving instructor for the last 6 years and is very used to active
        work in every kind of weather. She centralises in Pewsey, but covers
        many surrounding areas including Marlborough, Upavon and Devizes. Holly
        is fully insured, DBS checked and is currently completing a
        ‘professional dog walker’ diploma with compass education which she is
        thoroughly enjoying.
      </p>
      <h3 class="composition__heading vis-tablet">About Us</h3>
      <p class="composition__text vis-tablet">
        Goodfield Walkies offer reliable and fun dog walking services. We pick
        up your dogs up from your home and drop them back safely. We love
        exploring and finding new places so each dog walk is filled with
        adventures. We walk a maximum of 4 dogs at one time, so be assured your
        pet will get a good balance between attention and socialisation!
      </p>
      <h3 class="composition__heading vis-tablet">About Holly</h3>
      <p class="composition__text vis-tablet">
        Holly has always had a love for dogs and the outdoors. She has been a
        skydiving instructor for the last 6 years and is very used to active
        work in every kind of weather. She centralises in Pewsey, but covers
        many surrounding areas including Marlborough, Upavon and Devizes. Holly
        is fully insured, DBS checked and is currently completing a
        ‘professional dog walker’ diploma with compass education which she is
        thoroughly enjoying.
      </p>
    </div>
  </div>
</section>