<section class="section-services" id="services">
  <div class="card__container">
    <div class="card">
      <h3 class="card__title">30 Minute Walk</h3>
      <h4 class="card__price">£7</h4>
      <p class="card__price--sub">Per Dog</p>
      <ul class="card__list">
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i>Dog lead provided
        </li>
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i>Poop bags provided
        </li>
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i>Small group sizes
        </li>
        <li class="card__list-item">
          <i class="far fa-times-circle cross"></i>2<sup>nd</sup> dog half price
        </li>
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i>Post walk towel-down
        </li>
        <li class="card__list-item">
          <i class="far fa-times-circle cross"></i>Ball throwing time
        </li>
      </ul>
      <a href="#footer" class="btn btn--secondary">Get in Contact!</a>
      <img src="img/dog-1.png" alt="" class="card__dog" />
    </div>

    <div class="card">
      <h3 class="card__title">60 Minute Walk</h3>
      <h4 class="card__price">£11</h4>
      <p class="card__price--sub">Per Dog</p>
      <ul class="card__list">
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i> Dog lead provided
        </li>
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i> Poop bags provided
        </li>
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i> Small group sizes
        </li>
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i> 2<sup>nd</sup> dog half
          price
        </li>
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i> Post walk towel-down
        </li>
        <li class="card__list-item">
          <i class="far fa-check-circle checkmark"></i> Ball throwing time
        </li>
      </ul>
      <a href="#footer" class="btn btn--secondary">Get in Contact!</a>
      <img src="img/dog-2.png" alt="" class="card__dog" />
    </div>
  </div>
</section>