<%- include("partials/header"); -%>

<header class="header">
  <h1 class="header__heading heading--primary">
    Professional Dog Walker Service; <br />
    Walking in the Heart of Wiltshire
  </h1>
</header>

<%- include("partials/section-about"); -%> <%-
include("partials/section-services"); -%>

<div class="paw-divider">
  <img src="img/paws.png" class="paws" alt="pawprints" />
</div>

<%- include("partials/footer"); -%>
