.section-about {
  width: 100vw;

  &__heading {
    text-align: center;
    letter-spacing: .5rem;
    font-size: 5rem;
    color: $color-secondary;
    padding: 5rem 5rem 3rem 5rem;

    i {
      color: $color-primary;
      padding: 2rem;

      @include respond(phone) {
        display: block;
      }
    }
  }

  &__list {
    justify-content: center;
    display: flex;
    list-style: none;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }

    &-item {
      font-size: 2.5rem;
      padding: 0 2rem;

      @include respond(phone) {
        font-size: 3rem;
        padding: 1.5rem 2rem;
      }

      i {
        padding: 0 1rem;
        color: $color-primary;
      }
    }
  }

  &__composition {
    margin: 7rem 0;
    padding-bottom: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }
}

.composition {

  position: relative;

  &__content {
    text-align: center;
    width: 20%;
    margin: 0 6rem;
    position: relative;

    @include respond(tab-port) {
      width: 80%;
      text-align: justify;
    }

  }

  &__heading {
    display: flex;
    justify-content: center;
    color: $color-secondary;
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__image {

    img {
      width: 20rem;
    }
  }

  .content {


    &--left {
      position: relative;
      top: 6rem;
    }

    &--right {
      position: relative;
      bottom: 6rem;
    }
  }

  .arrow {
    width: 14rem;
    position: absolute;

    @include respond(tab-port) {
      display: none;
    }


    &--1 {
      transform: rotate(180deg);
      right: -6rem;
      top: -6rem;
    }

    &--2 {
      left: -6rem;
      top: -4rem;
    }
  }
}

.vis-tablet {
  display: none;

  @include respond(tab-port) {
    display: flex;
    position: relative;
    top: 10rem;
  }
}

.vis-wider-tablet {
  display: block;

  @include respond(tab-port) {
    display: none;
  }
}