.section-about {
  width: 100vw;

  &__heading {
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 4rem;
    color: $color-secondary;
    padding: 5rem 5rem 3rem 5rem;

    i {
      color: $color-primary;
      padding: 2rem;

      @include respond(phone) {
        display: block;
      }
    }

    i:last-child {
      @include respond(phone) {
        display: none;
      }
    }
  }

  &__list {
    justify-content: center;
    display: flex;
    list-style: none;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }

    &-item {
      font-size: 2.5rem;
      padding: 0 2rem;

      @include respond(phone) {
        font-size: 3rem;
        padding: 1.5rem 2rem;
      }

      i {
        padding: 0 1rem;
        color: $color-primary;
      }
    }
  }

  &__composition {
    margin: 7rem 0;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }
}

.section-services {
  width: 100vw;
  padding-bottom: 2rem;
}

.section-reviews {
  width: 100vw;
}